

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


<!-- <div class="container-fluid">
<game-setup></game-setup>

 <game-play *ngIf="questionGameInstanceService.game && !questionGameInstanceService.game.isOver()"></game-play> 
<game-results *ngIf="questionGameInstanceService.game && questionGameInstanceService.game.isOver()"></game-results>

<app-messages></app-messages> -->

<div [class]="themeClass">
<div class="example-container mat-elevation-z7" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{name}}</h1>
    
    <span class="example-fill-remaining-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onChangeTheme('my-light-theme')" mat-menu-item>
          <mat-icon>chat_bubble_outline</mat-icon>
          <span>Light</span>
        </button>
        <button mat-menu-item (click)="onChangeTheme('my-dark-theme')">
          <mat-icon>chat_bubble</mat-icon>
          <span>Dark</span>
        </button>
      </mat-menu>
      


  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                 
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." >side nav link 1</a>
        <a mat-list-item routerLink="." >side nav link 2</a> -->
        <!-- <mat-list> -->
          <div *ngFor="let navSelesction of SIDENAVSELECTIONS">
          <h3 mat-subheader>{{navSelesction.name}}</h3>
          <mat-list-item *ngFor="let item of navSelesction.items">
            <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
            <h4 mat-line> {{item.name}} </h4>
            <p mat-line> {{item.description}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
         <body-content></body-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

</div>




  