.logo-container{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://vectr.com/aalcindo/d7xW0ZPpU.svg?width=550&height=400&select=d7xW0ZPpUpage0");

    background-position: center; 
    height: 300px;
}